.accordion, .accordion-2 {
	display: block;
	ul {
		list-style: none;
		padding:0;
		transition: .4s linear height;
		ul {
			&:not(.active) {
				height:0!important;
			}	
		}
	}
	
	li {
		background-color: #eee;
		color: #444;
		padding: 0 30px;
		text-align: left;
		overflow:hidden;

		&:hover {
			cursor:pointer;
		}

		a {
			text-decoration: none;
			color:#222;
			display: block;
			padding:18px;
		}
	}
}